# ======================================================
# SYJ WebSense AI
# Environment Configuration
# ======================================================

# ------------------------------------------------------
# AI Provider Selection
# ------------------------------------------------------
# Supported values:
# groq
# gemini
# ------------------------------------------------------

AI_PROVIDER=groq


# ======================================================
# GROQ API
# ======================================================
# Get Free API Key:
# https://console.groq.com/keys
# ======================================================

GROQ_API_KEY=your_groq_api_key_here


# ======================================================
# GOOGLE GEMINI API
# ======================================================
# Get Free API Key:
# https://aistudio.google.com/app/apikey
# ======================================================

GEMINI_API_KEY=your_gemini_api_key_here


# ======================================================
# APPLICATION SETTINGS
# ======================================================

MAX_HISTORY_TURNS=5

MAX_CONTEXT_WORDS=4500

REQUEST_TIMEOUT=10
